<%= form_with(model: @user, local: true, method: :put) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>
  <div class="form-group">
    <%= label_tag('exampleInputEmail1', 'Email', class: 'font-weight-bold') %>
    <%= f.email_field :email, autofocus: true, 
                              autocomplete: "email", 
                              class: "form-control", 
                              id:"exampleInputEmail1", 
                              placeholder:"Email" %>
  </div>
  <div class="form-group">
    <%= label_tag('exampleInputName1', 'Имя', class: 'font-weight-bold') %>
    <%= f.text_field :name, autofocus: true, 
                              class: "form-control", 
                              id:"exampleInputName1", 
                              placeholder:"Имя" %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
<div class="mt-3">
  <%= link_to 'Сменить пароль', edit_user_registration_path %>
</div>
