<div class="event">
  <div class="event-info row mt-3">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{event_photo(@event)})" %>
      <div class="event-info-inner row">
        <div class="col-md-6 pt-4">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :short %></h3>
            <h3><small><%= link_to @event.address,
                "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>
          <div class="buffer-top">
            <% if policy(@event).update? %>
              <div class="buffer-both">
                <div class="btn-group" role="group" aria-label="first group">
                  <%= link_to t('event.change'), edit_event_path(@event), class: "btn btn-primary" %>
                </div>
                <div class="btn-group" role="group" aria-label="second group">
                  <%= button_to t('event.destroy_button'), @event, 
                              data: { confirm: t('event.destroy_confirmation') }, 
                              method: :delete, 
                              class: "btn btn-danger" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 my-4">
          <div id="map" data-address="<%= @event.address %>" style="width: 100%; height: 300px;"></div>
        </div>

      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="event-photos">

        <div class="mb-2">
          <%#Галерея фото%>
          <% if @event.photos.except(@new_photo).any? %>
            <div class="owl-carousel owl-theme">
              <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
            </div>
          <% end %>

          <% if current_user %>
            <%#Поле с добавлением фото%>
            <button type="button" id="upload-button" class="btn btn-link px-0 mx-0">Загрузить фотографии</button>
            <div class="event-photo-form" id="upload-photo" style="display:none">
              <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
            </div>
          <% end %>

        </div>

      </div>
      <div class="event-comments">
        <%= render partial: 'comments/form', locals: {comment: @new_comment || @event.comments.build} %>
        <div class="buffer-both">
          <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="event-owner">
        <h4>Зовет:</h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>
      <div class="event-subscriptions">
        <h4>Пойдут:</h4>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription', collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <div class="event-subscription-form">
        <% unless @event.user == current_user %>
          <h4>Я пойду:</h4>
          <div>
            <%= render partial: 'subscriptions/form', locals: {subscription: @new_subscription || @event.subscriptions.build} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
