<%= form_with model: [@event, photo], local: true do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: photo} %>

  <div class="input-group">
    <div class="custom-file">
      <%= f.file_field :photo,  class: "custom-file-input", id: "inputGroupFile", aria: { describedby: "inputGroupFileAddon"} %>
      <%=label_tag "exampleInputFile", 'Выберите фотографию', data: {browse: "Обзор"}, class: "custom-file-label"%>
    </div>
    <div class="input-group-append">
      <%= f.submit 'Загрузить', class: 'btn btn-outline-primary', id:"inputGroupFileAddon" %>
    </div>
  </div>

<% end %>
